.reviews-bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reviews-bg.png');
  background-size: cover;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
  height: 100vh;
}

.reviews-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reviews-header {
  color: #ffffff;
  font-size: 4rem;
  margin-bottom: 2.5rem;
}

.reviews-carousel-container {
  display: flex;
  align-items: center;
}

.carousel-control-button {
  cursor: pointer;
  outline: none;
  border: none;
  background: inherit;
}

.carousel-control-button-image {
  height: 1.5rem;
  width: 1.5rem;
}

.review-item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45vw;
}

.review-profile-image {
  height: 10rem;
  width: 10rem;
  margin-bottom: 0;
}

.review-author-name {
  color: #ffffff;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.review-company-name {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.review-description {
  font-size: 1.2rem;
  text-align: center;
}

.review-company-name,
.review-description {
  color: #171f46;
}

.review-author-name,
.review-company-name,
.review-description {
  font-weight: 600;
}
